<div class="col-md-3">
  
  <div>
    <p class="text-center"><%= link_to "Remove All Search Filters" %></p>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Search</div>
    <div class="panel-body">
      <%= form_tag questions_path, :method => 'get', class: "form-group", role: "search" do %>
        <div class="form-group">
          <%= label_tag "Search", nil, class: "control-label" %>
          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search" %>
          <%= hidden_field_tag(:category, params[:category]) %>
          <%= hidden_field_tag(:location, params[:location]) %>
          <%= hidden_field_tag(:distance, params[:distance]) %>
        </div>
        <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
      <% end %>
    </div>
    <div class="panel-footer">
      <%= link_to "Remove Search Filter", {controller: "questions", 
                                        action: "index", 
                                        category: params[:category],
                                        location: params[:location],
                                        distance: params[:distance],
                                        search: "" } %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Search Nearby</div>
    <div class="panel-body">
      <%= form_tag questions_path, :method => 'get', class: "form-group", role: "search" do %>
        <div class="form-group">
          <%= label_tag "Search Nearby", nil, class: "control-label" %>
          <%= text_field_tag :location, 
            params[:location], 
            id: "location_city_state",
            data: {autocomplete_source: geo_search_questions_path },
            class: "form-control", 
            placeholder: "City, State" %>
        </div>
        <div class="form-group">
          <%= label_tag "Distance", nil, class: "control-label" %>
          <%= select_tag :distance, options_for_select(Question.distances, @distance.to_i), class: "form-control" %>
        </div>
        <%= hidden_field_tag(:category, params[:category]) %>
        <%= hidden_field_tag(:search, params[:search]) %>
        <%= submit_tag "Nearby Search", name: nil, class: "btn btn-default" %>
      <% end %>
    </div>
    <div class="panel-footer">
      <%= link_to "Remove Search Nearby Filter", {controller: "questions", 
                                        action: "index", 
                                        category: params[:category],
                                        location: "",
                                        distance: "",
                                        search: params[:search] } %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Categories</div>
    <div class="list-group" >
      <% Question.category_list_with_all.sort.each do |category| %>
        <% if category == @category %>
            <%= link_to category.titleize, {controller: "questions", 
                                            action: "index", 
                                            category: category, 
                                            location: params[:location],
                                            distance: params[:distance],
                                            search: params[:search] }, class: "list-group-item active" %>
        <% else %>
            <%= link_to category.titleize, {controller: "questions", 
                                            action: "index", 
                                            category: category,
                                            location: params[:location],
                                            distance: params[:distance],
                                            search: params[:search] }, class: "list-group-item" %>
        <% end %>
      <% end %>
    </div>
    <div class="panel-footer">
      <%= link_to "Remove Search Filter", {controller: "questions", 
                                        action: "index", 
                                        category: "All",
                                        location: params[:location],
                                        distance: params[:distance],
                                        search: params[:search] } %>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= link_to "Suggest New Category", contact_path(from: "Category Suggestion"), class: "text-center" %>
    </div>
  </div>
</div>

<div class="col-md-8">

  <h3>Search &amp; Browse Questions</h3>

  <% if !@questions.exists? %>

    <h3>No questions have been found.</h3>

  <% elsif %>

    <h3><small><%= @questions.size %> <%= "questions".pluralize(@questions.size) %> have been found.</small></h3> 

    <div class="text-center">
      <%= will_paginate @questions, class: "pagination-sm", renderer: BootstrapPagination::Rails %>
    </div>

    <% @questions.each do |question| %>

      <div class="col-md-12">
        <div class="row">
          <div class="col-sm-8">
            <h4><%= link_to question.question, question_path(question) %></h4>
          </div>
          <div class="col-sm-4">
            <h5 class="text-right">Answers 
              <span class="badge"><%= question.answers.size %></span>
            </h5>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <h4><small>Asked by <%= link_to question.user.nickname, user_path(question.user) %> 
              <%= time_ago_in_words(question.created_at, include_seconds: false) %> ago. </small></h4>
          </div>
          <div class="col-sm-4">
            <h5 class="text-right">
              <%= link_to question.category, questions_path(category: question.category), class: "label label-info" %>
            </h5>
            <% if question.has_address? %>
              <h5 class="text-right">
                <%= link_to question.create_address, questions_path(location: question.create_address), 
                  class: "label label-success" %>
              </h5>
            <% end %>
          </div>
        </div>
        <hr />
      </div>
      
    <% end %>

    <div class="text-center">
      <%= will_paginate @questions, class: "pagination-sm", renderer: BootstrapPagination::Rails %>
    </div>

  <% end %> 

</div>
