<% content_for :facebook_open_graph do %>

  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:title" content="Question asked on QuestionFair.com..." />
  <meta property="og:description" content="<%= (@question.question).strip %>" />
  <meta property="og:site_name" content="<%= "QuestionFair.com".strip %>"/>
  <meta property="fb:app_id" content="<%= ENV['FB_APP_ID'] %>" />
  <meta property="og:type" content="question.ask" />
  <meta property="og:image" content="<%= "#{root_url}" %>images/Banner.png" />

<% end %>

<div class="col-md-offset-1 col-sm-8">
  <div class="row">
    <div class="col-sm-8">
      <h4><%= @question.question %></h4>
    </div>
    <div class="col-sm-4">
      <h5 class="text-right">Answers <span class="badge"><%= @question.answers.count %></spam></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <h4><small>Asked by <%= @question.user.nickname %> on 
        <%= @question.created_at.strftime("%A, %B %d, %Y") %> at 
        <%= @question.created_at.strftime("%I:%M %p") %> EST.</small></h4>
    </div>
    <div class="col-sm-4">
      <h5 class="text-right">
        <%= link_to @question.category, questions_path(category: @question.category), class: "label label-info" %>
      </h5>
      <% if @question.has_address? %>
        <h5 class="text-right">
          <%= link_to @question.create_address, questions_path(location: @question.create_address), 
            class: "label label-success" %>
        </h5>
      <% end %>
      <% if @question.has_best_answer? %>
        <h5 class="text-right">
          <span class="label label-warning">
            <%= "Best Answer Selected" %>
          </span>
        </h5>
      <% end %>
    </div>
    <div class="text-right">
      <div class="fb-like" data-href="<%= request.original_url %>" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
    </div>
  </div>
  
  <hr />

  <% if @answers.any? { |answer| !answer.answer.nil? } %>
    <h3>Answers</h3>
  <% else %>
    <h4>No answers have been provided.</h4>
  <% end %>

  <% if !@vote.nil? %>
    <%= render partial: "layouts/form_errors", object: @vote %>
  <% end %>

  <% @answers.each do |answer| %>

    <% if !answer.answer.nil? %>

      <div class="media">
        <div class="media-left">
          <%= image_tag(gravatar_url(answer.user), 
            size: "48x48", alt: "Gravatar", class: "media-object") %>
        </div>
        <div class="media-body">
          

          <h4 class="media-heading"><%= answer.answer %></h4>
          
          <h4><small>Answer provided by <%= answer.user.nickname %> <%= time_ago_in_words(answer.created_at, include_seconds: false) %> ago. </small></h4>
          
          <% if answer.answer_votes.any? %>
            <h4>
              <small>Votes from: 
                <% answer.voter_list.each do |voter| %>
                  <%= link_to voter[:nickname], user_path(voter[:id]) %>
                <% end %>
              </small>
            </h4>
          <% end %>

        </div>

        <div class="media-right text-center media-top">
          <h4 class="media-heading">Votes</h4>
          <h4><span class="badge"><%= answer.answer_votes.size %></span></h4>
          
          <% if !@question.has_best_answer? %>
            <% if user_signed_in? %>
              <% if voted_on_answer(answer.id) %>
                <%= button_to unvote_question_answer_path(@question, answer), method: :post, class: "btn btn-default btn-xs" do %>
                  <span class="glyphicon glyphicon-remove"></span> Remove Vote
                <% end %>
              <% elsif ( can? :create, @answer ) && !voted_on_question(@question) && !user_has_answered(@answers) %>
                <%= button_to vote_question_answer_path(@question, answer), method: :post, class: "btn btn-default btn-xs" do %>
                  <span class="glyphicon glyphicon-thumbs-up"></span> Vote 
                <% end %>
              <% end %>
            <% end %>
          <% end %>

          <% if answer.best_answer? %>
            <h5 class="text-right">
              <span class="label label-warning">
                <%= "Best Answer!" %>
              </span>
            </h5>
          <% end %>

        </div>

      </div>
      
      <% if !@question.has_best_answer? %>
        <% if ( can? :modify, answer ) %>
          <div class="btn-group text-right" role="group" aria-label="...">
              <%= link_to "Edit Answer", edit_question_answer_path(@question, answer), class: "btn btn-default", role: "button" %>
              <%= link_to "Delete Answer", question_answer_path(@question, answer), data: { confirm: "Are you sure?" },
                method: :delete, class: "btn btn-default", role: "button" %>

          </div>
        <% end %>
      <% end %>

      <% if !@question.has_best_answer? && (can? :modify, @question) %>
        <div class="btn-group text-right" role="group" aria-label="...">
            <%= link_to "Select As Best Answer", best_question_answer_path(@question, answer), data: { confirm: "Are you sure?  This selection is final." },
              method: :post, class: "btn btn-default", role: "button" %>
        </div>
      <% end %>

      <hr />

    <% end %>

  <% end %>

</div>

<!-- sidebar -->

<div class="col-sm-3">

  <% if !@question.has_best_answer? %>
    <% if can? :modify, @question %>
      <div class="row">    
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Question Controls</h3>
          </div>
          <div class="panel-body">
            <p>
              <%= current_user.nickname.capitalize %>, would you like to edit or remove this question?
            </p>
            <ul class="list">
              <li><%= link_to 'Edit Question', edit_question_path(@question) %></li>
              <li><%= link_to 'Delete Question', question_path(@question), 
                data: { confirm: "Are you sure?" }, method: :delete %></li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if !@question.has_best_answer? %>
    <% if ( can? :create, @answer ) && user_signed_in? && !user_has_answered(@answers) && !voted_on_question(@question) %>

        <%= render 'answers/form' %>  

    <% elsif !user_signed_in? %>

      <div class="row"> 
        <div class="text-center">
          <h4>
            <small>
              <%= link_to "Sign up", new_user_registration_path %> or 
              <%= link_to "Login", new_user_session_path %> 
              to answer this question.
            </small>
          </h4>
        </div>
      </div>
    <% end %>
  <% end %>

</div>






