<div class="col-md-offset-1 col-sm-8">
  <div class="row">
    <div class="col-sm-8">
      <h4><%= @question.question %></h4>
    </div>
    <div class="col-sm-4">
      <h5 class="text-right">Answers <span class="badge"><%= @question.answers.count %></spam></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <h4><small>Asked by <%= @question.user.nickname %> on 
        <%= @question.created_at.strftime("%A, %B %d, %Y") %> at 
        <%= @question.created_at.strftime("%I:%M %p") %> EST.</small></h4>
    </div>
    <div class="col-sm-4">
      <h5 class="text-right">
        <span class="label label-primary">
          <%= @question.category %>
        </span>
      </h5>
    </div>
  </div>
  
  <hr />

  <% if @question.answers.any? { |answer| !answer.answer.nil? } %>
    <h3>Answers</h3>
  <% else %>
    <h4>No answers have been provided.</h4>
  <% end %>

  <% @question.answers.each do |answer| %>

    <% if !answer.answer.nil? %>

      <div class="media">
        <div class="media-left">
          <%= image_tag(gravatar_url(answer.user), 
            size: "48x48", alt: "Gravatar", class: "media-object") %>
        </div>

        <div class="media-body">
          <h4 class="media-heading"><%= answer.answer %></h4>
          <h4><small>Answer provided by <%= answer.user.nickname %> 
            <%= time_ago_in_words(answer.created_at, include_seconds: false) %> ago. </small></h4>
        </div>
      </div>

    <% end %>
  <% end %>

</div>

<!-- sidebar -->

<div class="col-sm-3">

  <% if can? :modify, @question %>
    <div class="row">    
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Question Controls</h3>
        </div>
        <div class="panel-body">
          <p>
            <%= current_user.nickname.capitalize %>, would you like to edit or remove this question?
          </p>
          <ul class="list">
            <li><%= link_to 'Edit Question', edit_question_path(@question) %></li>
            <li><%= link_to 'Delete Question', question_path(@question), 
              data: { confirm: "Are you sure?" }, method: :delete %></li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
 
  <% if ( can? :create, @answer ) && user_signed_in? %>

      <%= render 'answers/form' %>

  <% elsif !user_signed_in? %>

    <div class="row"> 
      <div class="text-center">
        <h4>
          <small>
            <%= link_to "Sign up", new_user_registration_path %> or 
            <%= link_to "Login", new_user_session_path %> 
            to answer this question.
          </small>
        </h4>
      </div>
    </div>

  <% end %>

</div>






