<div class="col-md-12">
  <% if @answers.count == 0 %>
    <div class="col-md-12 text-center">
      <h4>You haven't answered any questions.</h4>
      <h4>
        <small>
          <%= link_to "Click Here", questions_path %> to find some questions to answer.
        </small>
      </h4>
    </div>
  <% elsif %> 
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Question</th>
            <th>Your Answer</th>
            <th>Votes</th>
            <th>Category</th>
            <th>Location</th>
            <th>Time</th>
            <th>Best Answer</th>
          </th>
        <thead>
        <tbody>
          <% @answers.each do |answer| %>
            <tr>
              <td><%= link_to truncate(answer.question.question, length: 40), 
                question_path(answer.question) %></td>
              <td><%= truncate(answer.answer, length: 40) %>
              <td class="text-center"><%= answer.answer_votes.size %></td>
              <td><%= link_to answer.question.category, 
                questions_path(category: answer.question.category) %></td>
              <td><%= answer.question.has_address? ? 
                link_to(answer.question.create_address, 
                questions_path(location: answer.question.create_address)) : "None" %></td>
              <td><%= time_ago_in_words(answer.created_at, include_seconds: false).titleize %> ago. </td>
              <td><%= answer.best == true ? "Best Answer" : "" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
  <hr />
</div>


