<div class="row">
  <div class="col-md-6">
    <h2>Friends</h2>
    <ul> 
      <% for friendship in @user.friendships.includes(:friend).confirmed %>
      <li>
        <%= friendship.friend.nickname %>
        (<%= link_to "Remove", friendship_path(friendship, confirm: true), method: :delete %>)
      </li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-6">
    
    <h2>Search for Friends</h2>
    <%= form_for @friendship,
      html: { class: "form-inline" } do |f| %>
      <div class="form-group">
        <%= f.text_field :nicknames, id: "user_nicknames", 
          data: {autocomplete_source: users_path },  class: "form-control", placeholder: "Search for Friends" %>
      </div>
      <%= f.submit "Add Friend", class: "btn btn-default" %>
    <% end %>


    <h2>Friend Requests</h2>
    <ul>
      <% for user in @user.friendships.confirmation_requested %>
        <li>
          <%= user.friend.nickname %>
          (<%= link_to "Confirm", friendship_path(id: user), method: :patch %>)
        </li>
      <% end %>
    </ul>

    <h2>Unconfirmed Friends</h2>
    <ul> 
      <% for friendship in @user.friendships.includes(:friend).unconfirmed %>
      <li>
        <%= friendship.friend.nickname %>
        (<%= link_to "Undo Request", friendship_path(friendship), method: :delete %>)
      </li>
      <% end %>
    </ul>
  </div>

</div>

