<!-- Dashboard friends partial. -->
<div class="row">
  
  <br />

  <div class="col-md-6">
    
    

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Your Friends</h4>
      </div>
      <div class="panel-body">
        <% for friendship in @user.friendships.includes(:friend).confirmed %>
          <div class="media">
            <div class="media-left">
              <%= image_tag(gravatar_url(friendship.friend), size: "48x48", alt: "Gravatar", class: "media-object") %>
            </div>
            <div class="media-body">
              <%= link_to friendship.friend.nickname.capitalize, user_path(friendship.friend) %> | 
              <%= friendship.friend.points.sum(:points) %> Points
              (<%= link_to "Remove", friendship_path(friendship, confirm: true), method: :delete %>)
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-6">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Search for Friends</h4>
      </div>
      <div class="panel-body">
        <%= form_for @friendship, html: { class: "form-inline" } do |f| %>
          <div class="form-group">
            <%= f.text_field :nicknames, id: "user_nicknames", 
              data: {autocomplete_source: users_path },  class: "form-control", placeholder: "Search for Friends" %>
          </div>
          <%= f.submit "Add Friend", class: "btn btn-default" %>
        <% end %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Friendship Requests</h4>
      </div>
      <div class="panel-body">
        <ul>
          <% for user in @user.friendships.confirmation_requested %>
            <li>
              <%= user.friend.nickname %>
              (<%= link_to "Confirm", friendship_path(id: user), method: :patch %>)
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Friendships Waiting for Confirmation</h4>
      </div>
      <div class="panel-body">
        <ul> 
          <% for friendship in @user.friendships.includes(:friend).unconfirmed %>
          <li>
            <%= friendship.friend.nickname %>
            (<%= link_to "Undo Request", friendship_path(friendship), method: :delete %>)
          </li>
          <% end %>
        </ul>
      </div>
    </div>

  </div>
</div>

