<!-- Dashboard points partial. -->
<div class="col-md-12">
  <% if @points.empty? %>
    <div class="col-md-12 text-center">
      <h4>You haven't earned any points.  </h4>
      <h4><small>Start earning points by 
        <%= link_to "asking a question", new_question_path %>, 
        <%= link_to "answering a question", questions_path %>, 
        <%= link_to "or inviting friends", new_invitation_path(current_user) %>.</small></h4>
    </div>
  <% elsif %>

    <h4>Total Points: <%= @total_points %></h4>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Points</th>
          <th>Action</th>
          <th>Time</th>
        </th>
      <thead>
      <tbody>
        <% @points.each do |point| %>
          <tr>
            <td><%= point.points %> Points</td>
            <td><%= Point.description_text[point.description.to_sym] %></td>
            <td><%= time_ago_in_words(point.created_at, include_seconds: false).titleize %> ago.</td>
          </td>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
