<!-- Dashboard questions partial. -->
<div class="col-md-12">
  <% if @questions.empty? %>
    <div class="col-md-12 text-center">
      <h4>You haven't asked any questions.</h4>
      <h4><small><%= link_to "Click Here", new_question_path %> to ask a new question.</small></h4>
    </div>
  <% elsif %>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Question</th>
            <th>Answers</th>
            <th>Category</th>
            <th>Location</th>
            <th>Time</th>
            <th>Best Answer</th>
          </th>
        <thead>
        <tbody>
          <% @questions.each do |question| %>
            <tr>
              <td><%= link_to truncate(question.question, length: 50), question_path(question) %></td>
              <td class="text-center"><%= question.answers.size %></td>
              <td><%= link_to question.category, questions_path(category: question.category) %></td>
              <td><%= question.has_address? ? link_to(question.create_address, questions_path(location: question.create_address)) : "None" %></td>
              <td><%= time_ago_in_words(question.created_at, include_seconds: false).titleize %> ago. </td>
              <td><%= question.has_best_answer? ? "Selected" : "None" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
  <hr />
</div>