<div class="col-md-offset-1 col-sm-8">

  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <hr />

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), 
    html: { method: :put, class: "form-horizontal" }) do |f| %>
    
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :email, class: "control-label col-sm-3" %>
      <div class="col-sm-5">
      <%= f.email_field :email, autofocus: true, class: "form-control"  %>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group">
      <%= f.label :password, class: "control-label col-sm-3" %> 
      <div class="col-sm-5">
        <%= f.password_field :password, autocomplete: "off", class: "form-control"  %>
        <span class="help-block">(leave blank if you don't want to change it)</span>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, class: "control-label col-sm-3" %>
      <div class="col-sm-5">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control"  %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :current_password, class: "control-label col-sm-3" %>
      <div class="col-sm-5"> 
        <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
        <span class="help-block">(we need your current password to confirm your changes)</span>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :time_zone, class: "control-label col-sm-3" %>
      <div class="col-sm-5">
        <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, 
           { prompt: "Select a Category" }, { class: "form-control" } %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-5">
        <div class="checkbox">
          <label>
            <%= f.check_box :mail_chimp %>
            <%= f.label :mail_chimp, "Sign up to our newsletter." %>
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-5">
        <%= f.submit "Update", class: "btn btn-default" %>
      </div>
    </div>
  <% end %>

  <hr />

  <h3>Cancel my account</h3>
  <div class="form-group">
    <p>This action cannot be undone!</p>
    <%= button_to "Cancel my account", registration_path(resource_name), 
      data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
  </div>

  <hr />

  <%= link_to "Back", :back %>

</div>