<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-horizontal" } ) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <div class="col-sm-3">
      <%= f.label :email, class: "control-label" %>
    </div>
    <div class="col-sm-5">
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3">
      <%= f.label :nickname, class: "control-label" %>
        
    </div>
    <div class="col-sm-5">
      <%= f.text_field :nickname, class: "form-control" %>
      <span class="help-block">
        For public display on the site.  (2 to 15 Characters.)
      </span>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3">
      <%= f.label :password, class: "control-label" %>
      
    </div>
    <div class="col-sm-5">
      <%= f.password_field :password, autocomplete: "off", 
        class: "form-control"%>
      <span class="help-block">
        <% if @validatable %>
          (<%= @minimum_password_length %> Characters Minimum.)
      <% end %>
      </span>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3">
      <%= f.label :password_confirmation, class: "control-label" %>
    </div>
    <div class="col-sm-5">
      <%= f.password_field :password_confirmation, autocomplete: "off", 
        class: "form-control" %>
    </div>
  </div>

  <%= f.submit "Sign up", class: "btn btn-default" %>

<% end %>

<%= render "devise/shared/links" %>
