<div class="media">
  <div class="media-left">
    <%= image_tag(gravatar_url(activity.owner), size: "48x48", alt: "Gravatar", class: "media-object") %>
  </div>
  <div class="media-body">
    <p><strong><%= activity.owner.nickname.capitalize %> voted on an answer <%= time_ago_in_words(activity.created_at, include_seconds: false) %> ago.</strong></p>
    <p>Question: <%= activity.trackable.answer.question.question %></p>
    <p>Voted on Answer: <%= activity.trackable.answer.answer %></p>
  </div>
</div>