<footer class="footer">

  <hr />

  <div class="col-md-4">
    <ul class="list-inline">
      <li><%= link_to_unless_current("Home", root_path) %></li>
      <li><%= link_to_unless_current("Browse", questions_path) %></li>
      <li><%= link_to_unless_current("About", about_path) %></li>
      <li><%= link_to_unless_current("Contact", contact_path) %></li>
    </ul>
  </div>

  <div class="col-md-4">
  </div>

  <div class="col-md-4">
    <ul class="list-inline text-right">
      <li><%= link_to_unless_current("Terms of Service", terms_path) %></li>
      <li><%= link_to_unless_current("Privacy Policy", privacy_path) %></li>
      <li>&#169; Scott Savage 2015</li>
    </ul>
  </div>

</footer>