<nav role="navigation" class="navbar navbar-default">
  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to image_tag("logo-v8.png", class: "logo", alt: "QuestionFair.com"), root_path %>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if current_page?(questions_path) %>"><%= link_to 'Browse', questions_path %></li>
        <li class="<%= 'active' if current_page?(new_question_path) %>"><%= link_to 'Ask a Question', new_question_path %></li>
      </ul>
      
      <%= form_tag search_questions_path, :method => 'get', class: "navbar-form  navbar-left", role: "search" do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search" %>
          <span class="input-group-btn">
            <%= button_tag(type: :submit, class: "btn btn-default") do %>
              <span class="glyphicon glyphicon-search"></span>
            <% end %>
          </span>
        </div>
      <% end %>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="<%= 'active' if current_page?(new_user_invitation_path) %>">
            <%= link_to 'Invite Your Friends!', new_invitation_path(:user) %>
          </li>
          <li class="<%= 'active' if current_page?(dashboard_index_path) %>">
            <%= link_to 'Dashboard', dashboard_index_path %>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.nickname %><span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, 
            class: "btn btn-default navbar-btn" %>
          <%= link_to "Login", new_user_session_path, 
            class: "btn btn-default navbar-btn" %>
        <% end %>
      </ul>
    </div>
    
  </div>
</nav>

