<!DOCTYPE html>
<html>

<%= render 'layouts/header' %>

<body>
  
  <div class="container">

    <div class="row">
      <%= render 'layouts/nav' %>
    </div>

    <% if !@breadcrumbs.nil? %>
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <%= render_breadcrumbs :tag => :li, :separator => "" %>
          </ol>
        </div>
      <div>
    <% end %>
    
    <div class="row">
      <%= render 'layouts/flash' %>
    </div>
    
    <div class="row">
      <%= yield %>
    </div>

    <div class="row">
      <%= render 'layouts/footer' %>
    </div>

  </div>
</body>

<%= debug(params) if Rails.env.development? %>

</html>

